@import "tailwindcss";

:root {
  /* Background */

  --accent-bg: #e1f5fe;
  --primary-bg: #ffffff;
  --secondary-bg: #8e8e93; /* Не прочитанные сообщения */

  --chat-bg: #ededed;
  --message-bg: #ffffff;
  --search-bg: #e6e6e6;

  --opacity-bg: #00000066;

  /* Color */

  --accent-color: #007aff;
  --inactive-color: #8e8e93;
  --primary-color: #1c1c1e;
  --secondary-color: #8e8e93;
  --not-read: #ffffff;

  --opacity-color: #000000b3; /* Время последнего сообщения */
  --placeholder-color: #8e8e93;

  /* Shadow */

  --shadow-box: 4px 4px 4px #00000026;

  /* Border-color */

  --border-color: #e6e6e6;


  /* Font */

  --font-inter: "Inter", sans-serif;
}

@theme inline {
  /* Background */

  --color-accent-bg: var(--accent-bg);
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg); /* Не прочитанные сообщения */

  --color-chat-bg: var(--chat-bg);
  --color-message-bg: var(--message-bg);
  --color-search-bg: var(--search-bg);

  --color-opacity-bg: var(--opacity-bg);

  /* Color */

  --color-accent-color: var(--accent-color);
  --color-inactive-color: var(--inactive-color);
  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);
  --color-not-read: var(--not-read);

  --color-opacity-color: var(--opacity-color); /* Время последнего сообщения */
  --color-placeholder-color: var(--placeholder-color);

  /* Shadow */

  --shadow-box: var(--shadow-box);

  /* Border-color */

  --color-border-color: var(--border-color);

  /* Font */

  --font-inter: var(--font-inter);
}

.dark {
  /* Background */

  --accent-bg: #0e141b;
  --primary-bg: #1c2733;
  --secondary-bg: #7f91a4; /* Не прочитанные сообщения */

  --chat-bg: #17212b;
  --message-bg: #2b5278;
  --search-bg: #101921;

  --opacity-bg: #ffffff1a;

  /* Color */

  --accent-color: #4da8da;
  --inactive-color: #6c7883;
  --primary-color: #e6e6e6;
  --secondary-color: #7f91a4;
  --not-read: #000000;

  --opacity-color: #ffffffb3; /* Время последнего сообщения */
  --placeholder-color: #8e8e93;

  /* Shadow */

  --shadow-box: 4px 4px 4px #ffffff26;

  /* Border-color */

  --border-color: #101921;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    /* Background */

    --accent-bg: #0e141b;
    --primary-bg: #1c2733;
    --secondary-bg: #7f91a4; /* Не прочитанные сообщения */

    --chat-bg: #17212b;
    --message-bg: #2b5278;
    --search-bg: #101921;

    /* Color */

    --accent-color: #4da8da;
    --inactive-color: #6c7883;
    --primary-color: #e6e6e6;
    --secondary-color: #7f91a4;

    --opacity-color: #ffffffb3; /* Время последнего сообщения */
    --placeholder-color: #8e8e93;

    /* Shadow */

    --shadow-box: 4px 4px 4px #ffffff26;

    /* Border-color */

    --border-color: #101921;
  }
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-color);
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}