node_modules
dist
build
out

.env
.env.production
.env.development
.env.local
*.env
.env*.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm
.eslintcache
.vite

coverage
*.spec.js
*.spec.ts
*.spec.jsx
*.spec.tsx
*.test.js
*.test.ts
*.test.jsx
*.test.tsx
__tests__

Dockerfile
docker-compose.yml
.dockerignore

.git
.gitignore