node_modules
dist
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

.env
.env.production
.env.development
.env.local
*.env

.git
.gitignore
.gitattributes

Dockerfile
docker-compose.yml
.dockerignore

coverage
*.spec.ts
*.test.ts
test

*.log
.npm
.eslintcache
.prettiercache