NODE_MOD=dev

PORT=8000
HOST=localhost

PORT_CLIENT=3000
PORT_ADMIN=8080

TTL_ACCESS_TOKEN=1h
TTL_REFRESH_TOKEN=30d
COOKIE_DOMAIN=""

DB_HOST=host
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=pass
DB_NAME=name

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

SECRET_JWT=secret